.addressForm {
  &__wrapper {
    padding: 20px 0;
  }

  &__buttonWrapper {
    margin: 24px 0;
    display: flex;
    justify-content: flex-end;
  }

  &__error {
    color: red;
    font-size: 12px;
  }
}
